body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.header {
    font-size: 18px;
    letter-spacing: 0.36px;
    width: 95%;
    max-width: 970px;
    display: flex;
    justify-content: center;
    margin: auto;
    border-bottom: 1px solid #828282;
}

.header ul {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0px;
}

.header ul > *:first-child {
    margin-left: 0px;
}

.header ul > *:last-child {
    margin-right: 0px;
}

.header ul li {
    margin-inline: 20px;
}

.header ul li a {
    text-decoration: none;
    color: #828282;
}



.home {
    margin-top: 12px;
}

.container_home {
    width: 95%;
    max-width: 970px;
    margin: 0 auto;
}

.container {
    width: 95%;
    max-width: 970px;
    margin: 0 auto;
    padding-top: 100px; 
    padding-bottom: 100px;
}

.denis_novik {
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

.container h1 {
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0px;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: left;
}

.container h2 {
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 0px;
    padding-bottom: 50px;
    margin: 0;
    text-align: center;
}




.gray_section {
    background-color: #f6f6f6;
}

.about_me_text {
    max-width: 480px;
    margin: auto;
    font-size: 18px;
    letter-spacing: 0px;
    text-align: center;
}

.about_me_text p {
    margin-bottom: 30px;
}




.skills {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0px;
    justify-content: space-between;
    margin: 0;
}

.skills > *:first-child {
    margin-left: 0px;
}

.skills > *:last-child {
    margin-right: 0px;
}

.skill {
    width: 170px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill_image {
    width: 80px;
    height: 80px;
    margin-bottom: 25px;
}

.skill_logo {
    width: 80px;
    text-align: center;
    margin: 0 auto;
}

.logo_name {
    color: #828282;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.28px;
}

.stars_list {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0px;
    margin-bottom: 1px;
}

.stars_list > *:first-child {
    margin-left: 0px;
}

.stars_list > *:last-child {
    margin-right: 0px;
}

.stars_list_item {
    margin-inline: 5px;
    margin-bottom: 0px;
}

.black_star {
    max-width: 26px;
    max-height: 26px;
}

.gray_star {
    max-width: 26px;
    max-height: 26px;
    opacity: 0.3;
}



.portfolio_unit {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-bottom: 70px;
}

.portfolio_unit a {
    margin: 0;
    color: black;
}

.portfolio_img {
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    margin-bottom: 40px;
}

footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.contacts p {
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
}