* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

nav ul {
    text-align: center;
    font-size: 0;
}

nav ul li {
    display: inline;
    margin: 20px;
    font-size: 1.125rem;
}

a {
    text-decoration: none;
}

.container {
    width: 95%;
    max-width: 970px;
    margin: 0 auto;
}