:root {
    --main-text-color: #2F281E;
    --pressed-link-color: #D80B0A;
    --buttons-color: #FF9900;
    --buttons-hover: #F03E3D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
}

a, button {
    transition: all 0.5s ease;
}

a:link {
    text-decoration: none;
    color: var(--main-text-color);
}

a:hover {
    color: var(--buttons-color);
}

a:active {
    color: var(--visited-link-color);
}

.desktop-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 1.125rem;
    letter-spacing: 0;
    line-height: 1.75rem;
    font-weight: 400;
}

.menu-icon {
    display: none;
}

h1 {
    font-size: 2.75rem;
    line-height: 3.375rem;
    font-weight: 700;
    letter-spacing: 0;
    color: var(--main-text-color);
    margin-bottom: 22px;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 700;
    margin-bottom: 4px;
}

h1 + p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0;
    color: #544837;
    margin-bottom: 36px;
}

footer {
    padding-top: 70px;
    padding-bottom: 70px;
}

footer a {
    color: var(--main-text-color);
}

.nav-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.btn {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0;
    background-color: var(--buttons-color);
    border: 0;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.btn-nav:hover, .btn-regular:hover {
    background-color: var(--buttons-hover);
}

.btn-nav:active, .btn-regular:active {
    background-color: var(--pressed-link-color);
    transform: scale(0.95);
}

.btn-nav {
    width: 110px;
    height: 46px;
    font-size: 1.125rem;
    font-weight: 600;
}

.btn-white {
    border: 1px solid var(--main-text-color);
    background-color: white;
    color: var(--main-text-color);
}

.btn-white:hover {
    border: 1px solid var(--buttons-hover);
    background-color: white;
    color: var(--buttons-hover);
}

.btn-white:active {
    border: 1px solid var(--pressed-link-color);
    background-color: white;
    color: var(--pressed-link-color);
}

.btn-regular {
    width: 180px;
    height: 50px;
    font-size: 1.125rem;
    font-weight: 600;
}

.btn-sign-up {
    margin-bottom: 90px;
}

.container {
    width: min(90%, 1230px);
    margin-inline: auto;
}

.logo {
    margin-top: 2px;
}

.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.first-section div {
    height: 301px;
}

.background {
    background: url(../img/bg.svg) center bottom no-repeat;
    background-size: 100% auto;
    padding-bottom: 90px;
}

.tools-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.tools-section h2 {
    text-align: center;
    margin-bottom: 50px;
}

.tools-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 40px;
}

.tools-item {
    width: 270px;
}

.tools-item h3 {
    font-size: 1.375rem;
    margin-bottom: 16px;
    font-weight: 600;
}

.tools-item p {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.tool-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.cursor {
    background-color: #7752BE;
}

.zigzag {
    background-color: #FAB005;
}

.heart {
    background-color: #F03E3D;
}

.sandclock {
    background-color: #4DADF7;
}

.design-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 165px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.design-descriptions {
    margin-bottom: 16px;
}

.design-section span {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.design-section h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.design-section h2 + p {
    margin-bottom: 40px;
}

.design-section p {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.design-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.product-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 165px;
    padding-bottom: 90px;
}

.product-descriptions {
    margin-top: 2px;
}

.product-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.pl-item {
    display: grid;
    grid-template-columns: 35px auto;
    column-gap: 20px;
    align-items: center;
}

.pl-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: var(--buttons-color);
}

.product-section span {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.product-section h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.product-section h2 + p {
    margin-bottom: 40px;
}

.product-section p {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.marketer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 165px;
    padding-bottom: 90px;
}

.marketer-descriptions {
    margin-left: 4.5px;
    margin-right: 4.5px;
    margin-bottom: 24px;
}

.marketer-section span {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.marketer-section h2 {
    font-weight: 700;
    margin-bottom: 14px;
}

.marketer-section h2 + p {
    margin-bottom: 40px;
}

.marketer-section p {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.marketer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 140px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.footer-item h3 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 18px;
}

.footer-item a {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.input-field {
    width: 100%;
    height: 50px;
    border: 1px solid #BCD0E5;
    margin-bottom: 7px;
}

.menu-button {
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    span, span::before, span::after {
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: black;
        border-radius: 2px;
    }
    span::before, span::after {
        content: '';
        left: 0;
    }
    span::before {
        top: -7px;
    }
    span::after {
        top: 7px;
    }
}

.page-shadow {
    position: fixed;
    background-color: rgba($color: #000000, $alpha: .5);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.mobile-panel {
    position: fixed;
    width: 200px;
    height: 100vh;
    transform: translateX(-200px);
    background-color:white;
    border-right: 1px solid gray;
    z-index: 11;
    transition: all .5s ease;
    padding: 20px;
}

.mobile-nav {
    li {
        line-height: 40px;
        padding-left: 10px;
        &:not(:last-child) {
            border-bottom: 1px solid gray;
        }
        a {
            position: relative;
            display: inline-block;
            width: 100%;
            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                background-color: red;
                left: 0;
                top: calc(100% - 2px);
                transition: all .5s ease;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }
}

.open-mobile-panel {
    .show {
        opacity: 1;
        visibility: visible;
    }
    .open {
        transform: translateX(0);
    }
}

@media screen and (max-width: 1149px) {
    header nav {
        display: none;
    }
    .menu-button {
        display: flex;
    }
    .first-section, .design-section, .product-section, .marketer-section {
        gap: 25px;
        height: 100%;
    }

    .first-section div {
        height: 100%;
    }

    .first-section div, .first-section img, .design-section .design-descriptions, .design-section img, 
    .product-section img, .product-section .product-descriptions, .marketer-section .marketer-descriptions,
    .marketer-section img {
        width: 45%;
    }
    .footer-block {
        gap: 25px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 799px) {
    .first-section, .design-section, .product-section, .marketer-section {
        flex-direction: column;
    }
    .first-section div, .first-section img, .design-section .design-descriptions, .design-section img, 
    .product-section img, .product-section .product-descriptions, .marketer-section .marketer-descriptions,
    .marketer-section img {
        width: 75%;
    }
    footer {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 639px) {
    header .container {
        padding: 10px;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
    }
    .first-section, .design-section, .product-section, .marketer-section {
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .first-section, .design-section, .marketer-section {
        flex-direction: column-reverse;
    }
    .tools-items {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
        gap: 40px;
    }
    .footer-block {
        flex-direction: column;
        gap: 15px;
        justify-content: space-between;
        align-items: center;
    }
    .footer-item {
        gap: 5px;
    }
}

@media screen and (max-width: 479px) {
    h1 {
        font-size: 2.063rem;
        line-height: 2.531rem;
    }
    
    h2 {
        font-size: 1.688rem;
    }
}

@media screen and (max-width: 399px) {
    .nav-btns {
        flex-direction: column;
        gap: 20px;
    }
}