:root {
    --black-font: #1c1c1c;
    --gray-font: #545454;
    --gray-terms: #969696;
    --gray-field: #E4E4E4;
    --blue-color: #007bff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 20px;
    color: var(--black-font);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

label {
    color: var(--gray-font);
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 0.938rem;
    line-height: 1.375rem;
}

.container {
    width: min(500px, 90%);
    margin: 50px auto;
}

.avatar-block {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.upload-block {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.upload-block p {
    font-family: "Roboto", sans-serif;
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-weight: normal;
    letter-spacing: -0.006rem;
    color: var(--gray-terms);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.upload-button {
    width: 138px;
    height: 30px;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.delete-button {
    position: relative;
    width: 30px;
    height: 29px;
    background-color: white;
    border: 1px solid var(--gray-field);
    border-radius: 6px;
    transition: all 0.5s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.delete-button:hover, .delete-button:focus {
    border-color: var(--blue-color);
}

.delete-button::before {
    content: '';
    position: absolute;
    width: 138px;
    height: 28px;
    border: 1px solid var(--gray-field);
    border-radius: 6px;
    transition: all 0.5s ease;
    cursor: pointer;
    left: -149px;
    top: -1px;
    background-image: url(../images/photo-icon.png);
    background-repeat: no-repeat;
    background-position: right 8px top 7px;
}

.user-data-block, .location-block, .number-block {
    display: flex;
    gap: 10px;
}

.field-block, .select-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
}

.field-block input, .select-block select {
    width: 243px;
    height: 36px;
    border: 1px solid var(--gray-field);
    border-radius: 6px;
    outline: none;
}

.field-block input[type="text"]:focus, .field-block input[type="email"]:focus, 
.field-block input[type="number"]:focus {
    border-color: var(--blue-color);
}

.select-block select {
    padding-left: 10px;
    font-size: 0.938rem;
    line-height: 1.375rem;
    color: var(--gray-terms);
    font-family: "Inter", sans-serif;
    font-weight: normal;
    background-image: url(../images/select-icon.jpg);
    background-repeat: no-repeat;
    background-position: right 6px top 10px;
    appearance: none;
}

.select-block select:focus {
    border-color: var(--blue-color);
}

.sign-up button {
    width: 150px;
    height: 38px;
    border: 1px solid var(--gray-field);
    border-radius: 6px;
    background-color: var(--blue-color);
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.375rem;
    outline: none;
}

.sign-up button:focus {
    border-color: var(--blue-color);
}

.sign-up button:hover {
    cursor: pointer;
    border-color: var(--blue-color);
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}