:root {
    --black-font: #1c1c1c;
    --gray-font: #545454;
    --gray-terms: #969696;
    --gray-field: #E4E4E4;
    --blue-color: #007bff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 20px;
    color: var(--black-font);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

label {
    color: var(--gray-font);
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 0.938rem;
    line-height: 1.375rem;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 0.813rem;
    font-weight: normal;
    line-height: 1.125rem;
    color: var(--gray-font);
}

a {
    text-decoration: none;
}

.container {
    width: min(500px, 90%);
    margin: 50px auto;
}

.name-block, .location-block {
    display: flex;
    gap: 10px;
}

.email-block {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.field-block, .select-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
}

.field-block input, .select-block select {
    width: 243px;
    height: 36px;
    border: 1px solid var(--gray-field);
    border-radius: 6px;
    outline: none;
}

.select-block select {
    padding-left: 10px;
    font-size: 0.938rem;
    line-height: 1.375rem;
    color: var(--gray-terms);
    font-family: "Inter", sans-serif;
    font-weight: normal;
    background-image: url(../images/select-icon.jpg);
    background-repeat: no-repeat;
    background-position: right 6px top 10px;
    appearance: none;
}

.select-block select:focus {
    border-color: var(--blue-color);
}

.field-block input[type="text"]:focus {
    border-color: var(--blue-color);
}

.gender-block {
    display: flex;
    gap: 25px;
    align-items: center;
    padding-left: 5px;
}

.radio-block {
    position: relative;
}

.radio-block input[type="radio"] {
    width: 20px;
    height: 20px;
    opacity: 0;
    z-index: 10;
}

.radio-block label::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid var(--gray-field);
    border-radius: 50%;
    left: -30px;
    top: -2px;
}

.radio-block input[type="radio"]:focus + label::before {
    border-color: var(--blue-color);
}

.radio-block input[type="radio"]:checked + label::before {
    border-color: var(--blue-color);
    background-color: var(--blue-color);
}

.radio-block label::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    left: -24px;
    top: 4px;
}

.sign-up button {
    width: 500px;
    height: 38px;
    border: 1px solid var(--gray-field);
    border-radius: 6px;
    background-color: var(--blue-color);
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.375rem;
    outline: none;
}

.sign-up button:focus {
    border-color: var(--blue-color);
}

.sign-up button:hover {
    cursor: pointer;
}

.terms {
    padding: 0 56px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 0.813rem;
    line-height: 1.125rem;
    letter-spacing: -0.006rem;
    color: var(--gray-terms);
    margin-bottom: 20px;
}

.terms a {
    color: var(--blue-color);
}

.terms a:focus, .log-in a:focus {
    border-bottom: 1px solid var(--blue-color);
    outline: none;
}

.line {
    border-bottom: 1px solid var(--gray-field);
    margin-bottom: 20px;
}

.log-in {
    display: flex;
    gap: 10px;
    align-items: baseline;
    justify-content: center;
    color: var(--gray-font);
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 0.938rem;
    line-height: 1.375rem;
    letter-spacing: -0.013rem;
}

.log-in a {
    font-weight: 500;
    letter-spacing: -0.006rem;
    color: var(--blue-color);
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}