:root {
    --main-text-color: #2F281E;
    --buttons-color: #FF9900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 1.125rem;
    letter-spacing: 0;
    line-height: 1.75rem;
    font-weight: 400;
}

nav a {
    color: var(--main-text-color);
}

nav a:hover {
    color: var(--buttons-color);
}

h1 {
    font-size: 2.75rem;
    line-height: 3.375rem;
    font-weight: 700;
    letter-spacing: 0;
    color: var(--main-text-color);
    margin-bottom: 22px;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 700;
    margin-bottom: 4px;
}

h1 + p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0;
    color: #544837;
    margin-bottom: 36px;
}

footer {
    padding-top: 70px;
    padding-bottom: 70px;
}

footer a {
    color: var(--main-text-color);
}

.nav-btns {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.btn {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0;
    background-color: var(--buttons-color);
    border: 0;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.btn-nav {
    width: 110px;
    height: 46px;
    font-size: 1.125rem;
    font-weight: 600;
}

.btn-white {
    border: 1px solid #BCD0E5;
    background-color: white;
    color: var(--main-text-color);
}

.btn-regular {
    width: 180px;
    height: 50px;
    font-size: 1.125rem;
    font-weight: 600;
}

.btn-sign-up {
    margin-bottom: 90px;
}

.container {
    width: min(90%, 1230px);
    margin-inline: auto;
}

.logo {
    margin-top: 2px;
}

.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.first-section div {
    height: 301px;
}

.background {
    background: url(../img/bg.svg) center bottom no-repeat;
    background-size: 100% auto;
    padding-bottom: 90px;
}

.tools-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.tools h2 {
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 50px;
}

.tools-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 40px;
}

.tools-item {
    width: 270px;
}

.tools-item h3 {
    font-size: 1.375rem;
    margin-bottom: 16px;
    font-weight: 600;
}

.tools-item p {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.tool-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.cursor {
    background-color: #7752BE;
}

.zigzag {
    background-color: #FAB005;
}

.heart {
    background-color: #F03E3D;
}

.sandclock {
    background-color: #4DADF7;
}

.design-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 165px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.design-descriptions {
    margin-bottom: 16px;
}

.design-section span {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.design-section h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.design-section h2 + p {
    margin-bottom: 40px;
}

.design-section p {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.design-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.product-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 165px;
    padding-bottom: 90px;
}

.product-descriptions {
    margin-top: 2px;
}

.product-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.pl-item {
    display: grid;
    grid-template-columns: 35px auto;
    column-gap: 20px;
    align-items: center;
}

.pl-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: var(--buttons-color);
}

.product-section span {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.product-section h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.product-section h2 + p {
    margin-bottom: 40px;
}

.product-section p {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.marketer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 165px;
    padding-bottom: 90px;
}

.marketer-descriptions {
    margin-left: 4.5px;
    margin-right: 4.5px;
    margin-bottom: 24px;
}

.marketer-section span {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.marketer-section h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.marketer-section h2 + p {
    margin-bottom: 40px;
}

.marketer-section p {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.marketer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}