* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

li {
    display: flex;
    
    justify-content: space-between;
}

.container {
    width: min(90%, 1200px);
    margin: 0 auto;
}