* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3399CC;
    border: 25px solid #2B81AC;
    font-family: 'Lucida Sans Unicode', sans-serif;
    letter-spacing: 0;
    color: white;
    padding: 5%;
    margin: 0;
    height: 100vh;
}

h1 {
    font-size: 1.313rem;
    margin-bottom: 35px;
}

h2 {
    font-size: 1.375rem;
}

p {
    font-size: 1rem;
}

ul {
    list-style: none;
}

hgroup p {
    font-size: 1.375rem;
    opacity: 0.7;
}

.cities-block {
    border: 2px solid white;
    background-color: white;
    padding: 0;
    margin-bottom: 35px;
}

.cities-row {
    font-size: 0;
}

.city {
    margin: 2px;
    font-size: initial;
    display: inline-block;
    text-align: center;
    opacity: 0.7;
    transition: all .1s ease-in;
    padding: 2rem;
}

.city:hover {
    opacity: 1;
    cursor: pointer;
}

.width-one {
    width: calc(25% - 4px);
}

.width-two {
    width: calc(50% - 4px);
}

.width-four {
    width: calc(100% - 4px);
}