* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    border-bottom: 1px solid #EFEEF3;
    margin-bottom: 100px;
}

header svg {
    cursor: pointer;
}

header svg:hover #c16133D {
    fill: #F4FEFF;
}

main {
    margin-bottom: 100px;
    flex-grow: 1;
}

footer {
    background-color: #16133D;
    padding: 40px 0 40px 0;
}

footer img {
    margin-bottom: 35px;
}

.soc {
    fill: #16133D;
    transition: all 0.5s ease;
}

.soc-block {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.soc-icon {
    width: 40px;
    height: 40px;
    background-color: #EFEEF3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.soc-icon:hover {
    border: 1px solid #52C29D;
}

.soc-icon:hover .soc {
    filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(200%) hue-rotate(120deg);
}

hgroup {
    margin-bottom: 33px;
}

hgroup div {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.313rem;
    color: #7690A8;
    margin-bottom: 10px;
}

h1 {
    font-family: "Nunito Sans 10pt", sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: #16133D;
    letter-spacing: 0.013rem;
}

h2 {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.331rem;
    color: #16133D;
    letter-spacing: 0.013rem;
    margin-bottom: 15px;
}

p {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;
    color: #16133D;
}

a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: #007FFC;
    letter-spacing: 0.013rem;
    transition: all 0.5s ease;
}

.container {
    width: min(90%, 1170px);
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    height: 80px;
}

.cards {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.card {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    height: 340px;
    border-radius: 8px;
    border: 1px solid #E5EAF4;
    transition: all 0.5s ease;
}

.card:hover {
    border-color: #52C29D;
}

.card:hover a {
    color: #52C29D;
}

.icon {
    position: relative;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon::before {
    content: '';
    position: absolute;
    border: 1px solid #1565D8;
    border-radius: 16px;
    opacity: 0.1;
    width: 100%;
    height: 100%;
}

.card:hover .icon::before {
    border-color: #52C29D;
    opacity: 0.2;
}

.megaphone, .building, .phone {
    position: relative;
    display: inline-block;
    transition: opacity 0.5s ease;
}

.mega-ico::after, .build-ico::after, .phone-ico::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 36px;
    background-image: url('../images/megaphone-green.png');
    background-size: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
    transform: translate(-50%, -50%);
}

.build-ico::after {
    width: 39px;
    background-image: url('../images/building-green.png');
}

.phone-ico::after {
    width: 24px;
    background-image: url('../images/phone-green.png');
}

.card:hover .megaphone, .card:hover .building, .card:hover .phone {
    opacity: 0;
}

.card:hover .mega-ico::after, .card:hover .build-ico::after, .card:hover .phone-ico::after {
    opacity: 1;
}

.description {
    width: 270px;
}


@font-face {
    font-family: 'Nunito Sans 10pt';
    src: url('../fonts/NunitoSans10pt-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}