@use 'fonts';

$text-black: black;
$text-gray: #7B7B7B;
$text-dgray: #565656;
$bg-lgray: #F4F4F4;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: top;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $text-black;
    position: relative;
}

a:hover::before {
    content: '';
    position: absolute;
    width: 40px;
    border-bottom: 1px solid $text-black;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 5px);
}

h1, h2, h3, h4, h5 {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.15rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;
}

h2 {
    font-weight: normal;
}

h3 {
    font-size: 1.75rem;
    line-height: 2.905rem;
    letter-spacing: 0.175rem;
}

h4 {
    font-weight: 500;
    font-size: 1.438rem;
    line-height: 2.387rem;
    letter-spacing: 0.144rem;
}

h5 {
    font-size: 1.375rem;
    line-height: 2.283rem;
    letter-spacing: 0.138rem;
    font-weight: 500;
    margin-bottom: 20px;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .container, .links, ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .links, ul {
        justify-content: center;
        gap: 80px;
    }
    ul {
        gap: 42px;
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        font-size: 0.875rem;
        letter-spacing: 0.263rem;
        text-transform: uppercase;
    }
}

.container {
    width: min(90%, 1170px);
    margin: 0 auto;
}

.hero {
    background: url(../images/bg-image.jpg) center center / cover no-repeat;
    height: 600px;
    padding-top: 100px;
}

.h1 {
    width: 770px;
}

.blog {
    padding-top: 90px;
    padding-bottom: 90px;
}

.article {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
    margin-top: 50px;
}

.content-wrap, .heading, .top {
    width: 448px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.reverse {
    justify-content: right;
    flex-direction: row-reverse;
}

.article-heading, .top {
    width: 369px;
    gap: 15px;
}

.top {
    gap: 30px;
}

.info-txt, .body-txt, .view-all, .post-content-heading, .description-txt, .description-vacancy, .contacts {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.66rem;
    letter-spacing: 0.1rem;
    color: $text-gray;
}

.description-vacancy {
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.063rem;
    color: $text-dgray;
}

.body-txt, .view-all, .vacancy h4 {
    position: relative;
    letter-spacing: 0.05rem;
    &::after {
        position: absolute;
        content: '';
        background-image: url(../images/arrow-1.svg);
        background-repeat: no-repeat;
        width: 1.438rem;
        height: 1rem;
        transform: translate(100%, 50%);
    }
}

.vacancy h4 {
    position: relative;
    &::after {
        transform: translate(0, 0);
        left: 0;
        top: 4em;
    }
}

.description-txt {
    letter-spacing: 0.05rem;
    color: $text-dgray;
}

.view-all {
    letter-spacing: 0.1rem;
    margin-right: 50px;
}

.latest-posts, .most-popular, .vacancy {
    padding-bottom: 90px;
}

.lp-heading {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.post-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    img {
        margin-bottom: 20px;
    }
    .post-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .post-content-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 0.75rem;
            line-height: 1.245rem;
            letter-spacing: 0.075rem;
        }
    }
}

button {
    display: block;
    background-color: $text-dgray;
    width: 180px;
    height: 46px;
    color: white;
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Lato";
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.868rem;
    letter-spacing: 0.113rem;
    cursor: pointer;
}

.vacancy .container, .description-vacancy {
    display: flex;
    justify-content: space-between;
    gap: 230px;
    h4 {
        font-weight: normal;
        width: 470px;
    }
}

.description-vacancy {
    flex-direction: column;
    gap: 30px;
    width: 470px;
}

footer {
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: $bg-lgray;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}

.footer-wrap {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta, .contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacts {
    gap: 15px;
    color: $text-black;
}

.soc, .soc-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 23px;
}

.soc-item {
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid $text-gray;
}

.small-text {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.245rem;
    letter-spacing: 0.075rem;
}