@use 'fonts';

@mixin flex-container-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

$main-menu-color: #4B5D68;
$violet-middle: #8A40EE;
$violet-dark: #212353;
$button-light-violet: #9C69E2;
$button-middle-violet: #8A40EE;
$button-pink: #F063B8;
$button-middle-pink: #EB4BAB;
$bg-medium-pink: #FDE8F5;
$bg-light-green: #F0FAF9;
$bg-light-violet: #F6F0FD;
$bg-light-pink: #FEF0F8;
$bg-light-blue: #EAF6FC;
$bg-medium-blue: #CCDDFF;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 12;
    background-color: rgba($color: white, $alpha: .9);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    padding: 21px;
    margin-bottom: 100px;
    .container {
        @include flex-container-row;
    }
}

ul {
    list-style: none;
}

a, .mobile-menu ul a {
    text-decoration: none;
    transition: all .5s ease;
    color: $main-menu-color;
        &:hover, &:focus {
            color: $violet-middle;
        }
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
}

h1, h2, h3 {
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    color: $violet-dark;
    font-size: 5rem;
    line-height: 110%;
}

h2, h3 {
    font-size: 2.5rem;
    line-height: 130%;
}

h3 {
    font-weight: normal;
    font-size: 1.5rem;
}

h4, h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 160%;
    color: $violet-dark;
}

h5 {
    font-size: 1rem;
}

p {
    font-size: 1.125rem;
    line-height: 160%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: $main-menu-color;
}

.container {
    width: min(1170px, 90%);
    margin: 0 auto;
}

.logo-nav, .main-menu ul {
    display: flex;
    align-items: center;
    gap: 120px;
    svg {
        width: 45px;
        height: 35px;
    }
}

.main-menu ul, .request-demo, .about, .help, .mobile-menu ul {
    gap: 41px; // +1 for pp
    font-size: 1rem;
    line-height: 160%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.request-demo {
    display: flex;
    gap: 20px;
    align-items: center;
    color: $violet-dark;
    background-color: white;
    letter-spacing: 0.005em;
    padding: 16px 23px;
    border-radius: 50px;
    border: 1px solid $button-light-violet;
    cursor: pointer;
    transition: all .5s ease;
    &:hover, &:focus {
        color: white;
        background-color: $button-light-violet;
        svg {
            color: white;
        }
    }
}

.request-demo svg, .learn-more svg {
    width: 20px;
    height: 14px;
    color: $button-light-violet;
    transition: all .5s ease;
}

.first-screen {
    margin-bottom: 100px;
    .container {
        overflow: hidden;
        background-image: url('../images/first-screen-img-min.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 66% auto;
        h1 {
            max-width: 600px;
            margin-bottom: 50px;
        }
        p {
            max-width: min(370px, 36%);
            margin-bottom: 52px; // +2 pp
        }
        button {
            margin-bottom: 35px;
        }
    }
}

.light-violet {
    @extend .request-demo;
    border: none;
    background-color: $button-light-violet;
    color: white;
    padding: 16px 51px;
    font-size: 1.125rem;
    letter-spacing: 0;
    &:hover, &:focus {
        background-color: $button-middle-violet;
    }
}

.pink {
    @extend .light-violet;
    background-color: $button-pink;
    &:hover, &:focus {
        background-color: $button-middle-pink;
    }
}

.who-we-are {
    margin-bottom: 114px; // -6 pp
    .container {
        padding: 75px 70px;
        background-color: $bg-medium-pink;
        border-radius: 50px;
        display: flex;
        align-items: center;
        gap: 130px;
        .we-are-img {
            max-width: 400px;
            height: auto;
            flex: 1;
        }
        .we-are {
            flex: 1;
            h2 {
                margin-bottom: 40px;
            }
        }
    }
}

.features {
    margin-bottom: 120px;
    .container {
        hgroup {
            text-align: center;
            max-width: 638px;
            margin: 0 auto;
            margin-bottom: 80px;
            h2 {
                margin-bottom: 44px;
            }
        }
        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            -moz-column-gap: 30px;
                 column-gap: 30px;
            row-gap: 50px;
            .card {
                display: flex;
                align-items: center;
                .z-i-1 {
                    z-index: 1;
                    height: auto;
                }
                .search-data-img {
                    max-width: 230px;
                }
                .hours-access-img {
                    max-width: 241px;
                }
                .print-out-img {
                    max-width: 245px;
                }
                .security-code-img {
                    max-width: 230px;
                }
                .card-content {
                    @include flex-container-column;
                    gap: 20px;
                    width: 400px;
                    height: 400px;
                    background-repeat: no-repeat;
                    border-radius: 50px;
                    padding: 62px 70px 62px 100px;
                    margin-left: -60px;
                    p {
                        font-size: 1rem;
                        font-weight: normal;
                        flex-grow: 1;
                    }
                    a {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        font-size: 1rem;
                        font-family: "Montserrat", sans-serif;
                        font-weight: bold;
                        line-height: 160%;
                        letter-spacing: 0.005em;
                        color: $violet-dark;
                        &:hover, &:focus {
                            text-shadow: 1px 1px 2px $violet-dark;
                            svg {
                                -webkit-animation: 1s ease infinite slide;
                                        animation: 1s ease infinite slide;
                                @-webkit-keyframes slide {
                                    0% {
                                        transform: translateX(0);
                                    }
                                    50% {
                                        transform: translateX(200%);
                                    }
                                    100% {
                                        transform: translateX(0);
                                    }
                                }
                                @keyframes slide {
                                    0% {
                                        transform: translateX(0);
                                    }
                                    50% {
                                        transform: translateX(200%);
                                    }
                                    100% {
                                        transform: translateX(0);
                                    }
                                }
                            }
                        }
                    }
                }
                .search-data-bg-image {
                    background-color: $bg-light-green;
                    background-image: url('../images/search-data-bg-image.svg');
                    background-position: right 10% top 5%;
                }
                .hours-access-bg-image {
                    background-color: $bg-light-violet;
                    background-image: url('../images/hours-access-bg-image.svg');
                    background-position: right 11% top 92%;
                    margin-left: -70px;
                }
                .print-out-bg-image {
                    background-color: $bg-light-pink;
                    background-image: url('../images/print-out-bg-image.svg');
                    background-position: right 6% top 6%;
                    margin-left: -75px;
                }
                .security-code-bg-image {
                    background-color: $bg-light-blue;
                    background-image: url('../images/security-code-bg-image.svg');
                    background-position: right 47% top 45%;
                }
            }
        }
    }
}

.testimonials {
    margin-bottom: 115px; // -5 pp
    .container {
        background-color: $bg-medium-blue;
        background-image: url('../images/reviews-bg-image.svg');
        background-repeat: no-repeat;
        border-radius: 50px;
        padding: 75px 70px;
        h2 {
            color: $main-menu-color;
            text-align: center;
            margin-bottom: 74px; // -6 pp
        }
        .review-cards {
            display: flex;
            justify-content: space-between;
            gap: 100px;
            margin-bottom: 7px; // pp
            .card {
                display: flex;
                justify-content: space-between;
                gap: 15px;
                background-color: white;
                border-radius: 50px;
                border: 1px solid $button-light-violet;
                padding: 49px 30px; // -1 pp
                .avatar {
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    overflow: hidden;
                    flex-shrink: 0;
                    img {
                        width: 100%;
                        height: 100%;
                        -o-object-fit: cover;
                           object-fit: cover;
                    }
                }
                blockquote {
                    @include flex-container-column;
                    .author {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        margin-bottom: 18px;
                    }
                    p {
                        font-size: 1rem;
                        font-weight: normal;
                        line-height: 164%; // +4 pp
                    }
                }
            }
        }
    }
}


cite, cite + a {
    font-size: 1rem;
    line-height: 160%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: $violet-dark;
}
cite + a {
    font-size: 0.875rem;
    letter-spacing: 0.001em;
    color: $button-light-violet;
}
.source-link {
    &:hover, &:focus {
        text-shadow: 1px 1px 2px $violet-dark;
    }
}

.try-for-free {
    margin-bottom: 98px; // -2 pp
    .container {
        @include flex-container-row;
        h2 {
            margin-bottom: 15px; // -5 pp
        }
        .btns {
            @include flex-container-row;
            gap: 30px;
        }
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 99px;
    .contacts {
        @include flex-container-column;
        justify-content: start;
        gap: 60px;
        .company {
            @include flex-container-row;
            justify-content: left;
            gap: 15px;
            svg {
                width: 55px;
                height: 35px;
            }
        }
        .info {
            @include flex-container-column;
            gap: 10px;
            font-family: "Montserrat", sans-serif;
            font-weight: normal;
            font-size: 1rem;
            line-height: 180%;
            letter-spacing: 0.01em;
            color: $violet-dark;
            font-style: normal;
            .address {
                font-weight: 500;
            }
        }
    }
    .footer-nav {
        display: flex;
        justify-content: space-between;
        gap: 172px;
        margin-top: 7px;
        .about, .help, .soc-media {
            display: flex;
            flex-direction: column;
            gap: 38px;
        }
    }
}

.list {
    @include flex-container-column;
    gap: 10px;
}

.list-h {
    @include flex-container-row;
    gap: 15px;
}

.soc-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    opacity: 1;
    transition: all 1s ease;
    svg {
        fill: currentColor;
        width: 40%;
        height: 40%;
    }
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $violet-dark;
        opacity: .1;
        z-index: -1;
        transition: all 1s ease;
    }
    &:hover, &:focus {
        opacity: 1;
        border: 1px solid #3B5998;
        color: #3B5998;
    }
    &:hover::after, &:focus::after {
        opacity: 0;
    }
}

.fb {
    &:hover, &:focus {
        border: 1px solid #3B5998;
        color: #3B5998;
    }
}
.tw {
    &:hover, &:focus {
        border: 1px solid #00ACEE;
        color: #00ACEE;
    }
}
.ig {
    &:hover, &:focus {
        border: 1px solid #C13584;
        color: #C13584;
    }
}

.copyright {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: $violet-dark;
    margin-bottom: 120px;
}

.menu-hamburger {
    display: none;
    &:hover, &:focus {
        scale: 1.2;
    }
}

.hamburger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    span, span::before, span::after {
        position: absolute;
        width: 20px;
        height: 4px;
        border-radius: 2px;
        background-color: black;
    }
    span::before, span::after {
        left: 0;
        content: '';
    }
    span::before {
        top: -7px;
    }
    span::after {
        top: 7px;
    }
}

.page-shadow {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .5);
    z-index: 10;
}

.mobile-panel {
    visibility: hidden;
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: white;
    z-index: 11;
    transform: translateX(-250px);
    transition: all .5s ease;
    .request-demo {
        display: none;
        margin: 0 auto;
    }
}

.open-mobile-menu {
    .page-shadow {
        opacity: 1;
        visibility: visible;
    }
    .mobile-panel {
        transform: translateX(0);
        visibility: visible;
    }
}

.mobile-menu {
    margin-top: 90px;
    ul {
        margin-bottom: 50px;
        li {
            border-bottom: 1px solid gray;
            &:last-child {
                border-bottom: none;
            }
            a {
                display: inline-block;
                width: 100%;
                padding: 10px 20px;
                &:hover, &:focus {
                    background-color: #f6f6f6;
                }
            }
        }
    }
}

@media screen and (max-width:1280px) {
    header {
        padding: 15px;
        margin-bottom: 75px;
    }
    .first-screen {
        margin-bottom: 75px;
        .container h1 {
            font-size: 4.5rem;
        }
    }
    .who-we-are {
        margin-bottom: 75px;
        .container {
            padding: 50px 50px;
            gap: 75px;
        }
    }
    .features {
        margin-bottom: 75px;
        .container .cards .card .card-content {
            padding: 50px 40px 50px 90px;
        }
    }
    .testimonials {
        margin-bottom: 75px;
        .container {
            padding: 40px 40px;
            h2 {
                margin-bottom: 40px;
            }
            .review-cards {
                gap: 30px;
                .card {
                    padding: 30px 20px;
                }
            }
        }
    }
    .try-for-free {
        margin-bottom: 75px;
    }
    .navigation {
        margin-bottom: 75px;
        .footer-nav {
            gap: 75px;
        }
    }
}

@media screen and (max-width:940px) {
    .main-menu ul {
        display: none;
    }
    .menu-hamburger {
        display: block;
    }
    .logo-nav {
        gap: 40px;
    }
    header {
        margin-bottom: 60px;
    }
    .first-screen {
        margin-bottom: 75px;
        .container h1 {
            font-size: 4rem;
        }
    }
    .who-we-are {
        margin-bottom: 75px;
        .container {
            padding: 30px 30px;
            gap: 50px;
        }
    }
    .features {
        .container .cards {
                grid-template-columns: 1fr;
                .card {
                    margin: 0 auto;
                    .card-content {
                        padding: 62px 70px 62px 100px;
                    }
                }
            }
        }
    .testimonials {
        margin-bottom: 75px;
        .container {
            padding: 50px 70px;
            .review-cards {
                flex-direction: column;
            }
        }
    }
    .try-for-free {
        margin-bottom: 75px;
        .container {
            @include flex-container-column;
            gap: 30px;
            hgroup {
                text-align: center;
            }
        }
    }
    .navigation {
        flex-direction: column;
        gap: 50px;
        .contacts {
            align-items: center;
            gap: 60px;
        }
        .footer-nav {
            justify-content: center;
            gap: 75px;
        }
    }
}

@media screen and (max-width:768px) {
    .first-screen {
        .container {
            background-position: center top;
            background-size: 100% auto;
            padding-top: 48vw;
            h1 {
                max-width: 100%;
                margin-bottom: 30px;
            }
            p {
                max-width: 75%;
                margin-bottom: 30px;
            }
        }
    }
    .who-we-are {
        .container {
            padding: 75px 70px;
            flex-direction: column;
            gap: 30px;
        }
    }
    .copyright {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:520px) {
    .mobile-panel .request-demo {
        display: block;
    }
    header .request-demo {
        display: none;
    }
    .logo-nav {
        width: 100%;
        justify-content: space-around;
    }
    header {
        padding: 15px;
        margin-bottom: 50px;
    }
    .first-screen {
        margin-bottom: 50px;
        .container h1 {
            font-size: 3.5rem;
        }
    }
    .who-we-are {
        margin-bottom: 50px;
        .container {
            padding: 30px 30px;
            gap: 50px;
        }
    }
    .features {
        margin-bottom: 50px;
        .container .cards .card .card-content {
            padding: 50px 40px 50px 90px;
        }
    }
    .testimonials {
        margin-bottom: 50px;
        .container {
            padding: 40px 40px;
        }
    }
    .try-for-free, .navigation {
        margin-bottom: 75px;
    }
    .btns {
        @include flex-container-column;
    }
    .footer-nav {
        @include flex-container-column;
        align-items: center;
        .about, .help, .soc-media {
            align-items: center;
            .list {
                align-items: center;
            }
        }
    }
}

@media screen and (max-width:415px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    .features .container .cards .card {
        flex-direction: column;
        .card-content {
            width: min(400px, 90%);
            height: auto;
            padding: 20px 10px 10px 90px;
            margin-left: 0;
            margin-top: -20px;
        }
    }
    .review-cards .card {
        flex-direction: column;
    }
}