@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2px);
  padding: 20px;
  margin-top: 2px;
  margin-bottom: 101px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.5s ease;
  color: #4B5D68;
}
a:hover, a:focus {
  color: #8A40EE;
}

img {
  vertical-align: top;
}

h1, h2, h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  color: #212353;
  font-size: 5rem;
  line-height: 110%;
}

h2, h3 {
  font-size: 2.5rem;
  line-height: 130%;
}

h3 {
  font-weight: normal;
  font-size: 1.5rem;
}

h4, h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 160%;
  color: #212353;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 1.125rem;
  line-height: 160%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #4B5D68;
}

.container {
  width: min(1170px, 90%);
  margin: 0 auto;
}

.logo-nav, .main-menu {
  display: flex;
  align-items: center;
  gap: 120px;
}
.logo-nav svg, .main-menu svg {
  width: 45px;
  height: 35px;
}

.main-menu, .request-demo, .light-violet, .pink, .about, .help {
  gap: 41px;
  font-size: 1rem;
  line-height: 160%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.request-demo, .light-violet, .pink {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #212353;
  background-color: white;
  letter-spacing: 0.005em;
  padding: 16px 23px;
  border-radius: 50px;
  border: 1px solid #9C69E2;
  cursor: pointer;
  transition: all 0.5s ease;
}
.request-demo:hover, .light-violet:hover, .pink:hover, .request-demo:focus, .light-violet:focus, .pink:focus {
  color: white;
  background-color: #9C69E2;
}
.request-demo:hover svg, .light-violet:hover svg, .pink:hover svg, .request-demo:focus svg, .light-violet:focus svg, .pink:focus svg {
  color: white;
}

.request-demo svg, .light-violet svg, .pink svg, .learn-more svg {
  width: 20px;
  height: 14px;
  color: #9C69E2;
  transition: all 0.5s ease;
}

.first-screen {
  margin-bottom: 100px;
}
.first-screen .container {
  overflow: hidden;
  background-image: url("../images/first-screen-img.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 66% auto;
}
.first-screen .container h1 {
  max-width: 600px;
  margin-bottom: 50px;
}
.first-screen .container p {
  max-width: min(370px, 36%);
  margin-bottom: 52px;
}
.first-screen .container button {
  margin-bottom: 35px;
}

.light-violet, .pink {
  border: none;
  background-color: #9C69E2;
  color: white;
  padding: 16px 51px;
  font-size: 1.125rem;
  letter-spacing: 0;
}
.light-violet:hover, .pink:hover, .light-violet:focus, .pink:focus {
  background-color: #8A40EE;
}

.pink {
  background-color: #F063B8;
}
.pink:hover, .pink:focus {
  background-color: #EB4BAB;
}

.who-we-are {
  margin-bottom: 114px;
}
.who-we-are .container {
  padding: 75px 70px;
  background-color: #FDE8F5;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 130px;
}
.who-we-are .container h2 {
  margin-bottom: 40px;
}

.features {
  margin-bottom: 120px;
}
.features .container hgroup {
  text-align: center;
  max-width: 638px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.features .container hgroup h2 {
  margin-bottom: 44px;
}
.features .container .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 50px;
}
.features .container .cards .card {
  display: flex;
  align-items: center;
}
.features .container .cards .card .card-img {
  z-index: 1;
}
.features .container .cards .card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  border-radius: 50px;
  padding: 62px 70px 62px 100px;
  margin-left: -60px;
}
.features .container .cards .card .card-content p {
  font-size: 1rem;
  font-weight: normal;
  flex-grow: 1;
}
.features .container .cards .card .card-content a {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #212353;
}
.features .container .cards .card .card-content a:hover, .features .container .cards .card .card-content a:focus {
  text-shadow: 1px 1px 2px #212353;
}
.features .container .cards .card .card-content a:hover svg, .features .container .cards .card .card-content a:focus svg {
  animation: 1s ease infinite slide;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
.features .container .cards .card .search-data-bg-image {
  background-color: #F0FAF9;
  background-image: url("../images/search-data-bg-image.svg");
  background-position: right 10% top 5%;
}
.features .container .cards .card .hours-access-bg-image {
  background-color: #F6F0FD;
  background-image: url("../images/hours-access-bg-image.svg");
  background-position: right 11% top 92%;
  margin-left: -70px;
}
.features .container .cards .card .print-out-bg-image {
  background-color: #FEF0F8;
  background-image: url("../images/print-out-bg-image.svg");
  background-position: right 6% top 6%;
  margin-left: -75px;
}
.features .container .cards .card .security-code-bg-image {
  background-color: #EAF6FC;
  background-image: url("../images/security-code-bg-image.svg");
  background-position: right 47% top 45%;
}

.testimonials {
  margin-bottom: 115px;
}
.testimonials .container {
  background-color: #CCDDFF;
  background-image: url("../images/reviews-bg-image.svg");
  background-repeat: no-repeat;
  border-radius: 50px;
  padding: 75px 70px;
}
.testimonials .container h2 {
  color: #4B5D68;
  text-align: center;
  margin-bottom: 74px;
}
.testimonials .container .review-cards {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 7px;
}
.testimonials .container .review-cards .card {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  background-color: white;
  border-radius: 50px;
  border: 1px solid #9C69E2;
  padding: 49px 30px;
}
.testimonials .container .review-cards .card .avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.testimonials .container .review-cards .card .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials .container .review-cards .card blockquote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials .container .review-cards .card blockquote .author {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 18px;
}
.testimonials .container .review-cards .card blockquote p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 164%;
}

cite, cite + a {
  font-size: 1rem;
  line-height: 160%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #212353;
}

cite + a {
  font-size: 0.875rem;
  letter-spacing: 0.001em;
  color: #9C69E2;
}

.source-link:hover, .source-link:focus {
  text-shadow: 1px 1px 2px #212353;
}

.try-for-free {
  margin-bottom: 98px;
}
.try-for-free .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.try-for-free .container h2 {
  margin-bottom: 15px;
}
.try-for-free .container .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.navigation .contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: start;
  gap: 60px;
}
.navigation .contacts .company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: left;
  gap: 15px;
}
.navigation .contacts .company svg {
  width: 55px;
  height: 35px;
}
.navigation .contacts .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
  font-style: normal;
}
.navigation .contacts .info .address {
  font-weight: 500;
}
.navigation .footer-nav {
  display: flex;
  justify-content: space-between;
  gap: 172px;
  margin-top: 7px;
}
.navigation .footer-nav .about, .navigation .footer-nav .help, .navigation .footer-nav .soc-media {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.list-h {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.soc-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  opacity: 1;
  transition: all 1s ease;
}
.soc-icon svg {
  fill: currentColor;
  width: 40%;
  height: 40%;
}
.soc-icon::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #212353;
  opacity: 0.1;
  z-index: -1;
  transition: all 1s ease;
}
.soc-icon:hover, .soc-icon:focus {
  opacity: 1;
  border: 1px solid #3B5998;
  color: #3B5998;
}
.soc-icon:hover::after, .soc-icon:focus::after {
  opacity: 0;
}

.fb:hover, .fb:focus {
  border: 1px solid #3B5998;
  color: #3B5998;
}

.tw:hover, .tw:focus {
  border: 1px solid #00ACEE;
  color: #00ACEE;
}

.ig:hover, .ig:focus {
  border: 1px solid #C13584;
  color: #C13584;
}

.copyright {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}