* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#textLine {
    display: block;
    width: 300px;
    margin: 100px;
    text-align: center;
    border: 1px solid black;
}

#textEdit {
    width: 300px;
    margin: 100px;
    display: none;
}

table {
    width: 300px;
    margin: 100px;
    border-collapse: collapse;
    border-left: 1px solid black;
    border-top: 1px solid black;
    th, td {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }
}

.resizable {
    position: relative;
    margin: 100px;
    padding: 10px;
    border: 1px solid black;
    width: 400px;
    height: 200px;
    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        right: 1px;
        bottom: 1px;
        border-bottom: 10px solid black;
        border-left: 10px solid transparent;
        cursor: grab;
        transition: all .5s ease;
    }
    &:hover::after {
        transform: scale(2) translate(-25%, -25%);
    }
}