* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.75rem;
    line-height: 3rem;
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    margin-bottom: 70px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
}

main {
    background-image: url(../images/bg-picture.png);
    background-attachment: fixed;
    background-position: right top 150px;
    background-repeat: no-repeat;
}

section {
    position: relative;
    margin-bottom: 52px;
    scroll-margin-top: 89px;
}

h2 {
    font-family: 'Francois One', sans-serif;
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 400;
    letter-spacing: 0.09rem;
    text-transform: uppercase;
    white-space: nowrap;
}

section h2 {
    position: relative;
    margin-top: 10px;
    margin-bottom: 40px;
}

h2 sup {
    vertical-align: 1.5em;
    font-family: 'Farro', sans-serif;
    font-size: 1.05rem;
    letter-spacing: 0.075em;
    text-transform: capitalize;
}

section h2::before {
    content: '';
    position: absolute;
    top: -10px;
    width: 100px;
    height: 8px;
    background-color: black;
}

p {
    margin-bottom: 33px;
}

section p:last-child {
    margin-bottom: 80px;
}

.container {
    width: min(90%, 1200px);
    margin: 0 auto;
    display: flex;
    gap: 28px;
}

.content-list {
    position: sticky;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 70px;
    top: 150px;
    height: 100vh;
}

.content-list a {
    padding-bottom: 10px;
    border-bottom: 1px solid #bdbdbd;
}

.nav-line {
    display: flex;
    align-items: center;
    gap: 54px;
}

.nav-line span {
    font-family: 'Tourney', sans-serif;
    font-size: 1.375rem;
    line-height: 1.125rem;
    margin: 0 0 4px 4px ;
}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav li {
    font-family: 'Staatliches', sans-serif;
    font-size: 1.375rem;
    letter-spacing: 0.04rem;
}

.nav li a {
    color: inherit;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.bg-gray {
    background-color: #DADADA;
}

.pizza {
    font-size: 0.75em;
    line-height: 0.9em;
}

@font-face {
    font-family: 'Tourney';
    src: url('../fonts/Tourney-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Staatliches';
    src: url('../fonts/Staatliches-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Francois One';
    src: url('../fonts/FrancoisOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Farro';
    src: url('../fonts/Farro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}