* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans';
}

a {
    text-decoration: none;
}

header {
    margin-bottom: 70px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
}

h2 {
    font-family: 'Francois One';
    font-size: 2.25rem;
    line-height: 3rem;
    letter-spacing: 0.09rem;
}

h2 sup {
    vertical-align: 0.5em;
    font-family: 'Farro';
    font-size: 1.25rem;
    letter-spacing: 0.075em;
}

.container {
    width: min(90%, 1200px);
    margin: 0 auto;
}

.nav-line {
    display: flex;
    align-items: center;
}

.nav-line span {
    font-family: 'Tourney';
    font-size: 1.375rem;
    line-height: 1.125rem;
    margin: 0 54px 4px 4px ;
}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav li {
    font-family: 'Staatliches';
    font-size: 1.375rem;
    letter-spacing: 0.04rem;
    color: black;
}

.nav li a {
    color: inherit;
}

@font-face {
    font-family: 'Tourney';
    src: url('../fonts/Tourney-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Staatliches';
    src: url('../fonts/Staatliches-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Francois One';
    src: url('../fonts/FrancoisOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Farro';
    src: url('../fonts/Farro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}