* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3B3F45;
    font-family: "Roboto", sans-serif;
}

header, footer {
    background-color: #4A4F56;
    color: #FF8984;
    text-align: center;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.625rem;
}

header {
    padding: 23px;
}

header p {
    margin-top: 6px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75rem;
}

main {
    width: 800px;
    margin: 40px auto;
}

ul {
    list-style: none;
}

li {
    padding-left: 8px;
    font-size: 1.688rem;
    font-weight: 400;
    color: white;
    height: 62px;
    line-height: 62px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

li:hover {
    /* height: 62px;
    line-height: 62px; */
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

li:active {
    background-color: #7A7593;
}



span {
    vertical-align: middle;
    font-size: 1.063rem;
    margin-left: 16px;
}

input[type="checkbox"] {
    width: 0;
    height: 0;
    opacity: 0;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 43px;
}

input[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 43px;
    color: #9B96AC;
    text-decoration: line-through;
    background-color: #7A7593;
}

input[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 1px;
}

input[type="checkbox"]:checked + label::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 6px;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    transform: rotate(-45deg);
    position: absolute;
    left: 6px;
    top: 9px;
}

li:nth-child(even) {
    background-color: #625E77;
}
  
li:nth-child(odd) {
    background-color: #88839E;
}
  

footer {
    padding: 16px 0;
    width: 800px;
    margin: 0 auto;
}

footer p {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.051rem;
}